.Discord-join {
    background-color:#343434;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 200px;
    border-color: black;
    transition: all 500ms;
    margin-left: 150px;
    margin-top: -80px;
  }
  
   .Discord-join:hover {
    background-color:#262626;
    color: rgb(225, 225, 225);

    border-radius: 200px;
    cursor: pointer;
    box-shadow: 0px 0px 20px #7289da;
  }
  .Youtube-sub {
    background-color:#343434;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 200px;
    border-color: black;
    transition: all 500ms;
    margin-top: -80px;
  }

  .Youtube-sub:hover {
    background-color:#262626;
    color: rgb(225, 225, 225);
    border-radius: 200px;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(255, 0, 0)
  }

  .Reddit-join {
    background-color:#343434;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 200px;
    border-color: black;
    transition: all 500ms;
    margin-top: -80px;
  }

  .Reddit-join:hover {
    background-color:#262626;
    color: rgb(225, 225, 225);
    border-radius: 200px;
    cursor: pointer;
    box-shadow: 0px 0px 20px #ff4500;
  }

  .Twitter {
    background-color:#343434;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 200px;
    border-color: black;
    transition: all 500ms;
    margin-top: -80px;
  }

  .Twitter:hover {
    background-color:#262626;
    color: rgb(225, 225, 225);
    border-radius: 200px;
    cursor: pointer;
    box-shadow: 0px 0px 20px #0093d2;
  }
  .Roblox {
    background-color:#343434;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 200px;
    border-color: black;
    transition: all 500ms;
    margin-top: -80px;
  }

  .Roblox:hover {
    background-color:#262626;
    color: rgb(225, 225, 225);
    border-radius: 200px;
    cursor: pointer;
    box-shadow: 0px 0px 20px #ff2d2d;
  }

  .Title { 
   font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 400%;
   color: rgb(255, 255, 255);
   text-align: center;
  }
  .Tgx-logo {
   border-radius: 200px;
   height: 100px;
   width: 100px;;
   margin-left: 140px;
   margin-top: 150px;
   box-shadow: 0px 0px 50px #00580c;
   transition: all 500ms;
  }

  .Tgx-logo:hover {
    box-shadow: 0px 0px 100px #00b118;
   }

  .Logo-box {
    content: '';
    border-radius: 200px;
    width: 300px;
    height: 300px;
    background: radial-gradient(rgb(36, 36, 36),#161617 50%);
    margin-left: -140px;
    margin-top: -150px;
  }

  .Youtube-logo {
    height: 22px;
    margin-bottom: -5px;
    margin-left: -2.5px;
  }

  .Discord-logo {
    height: 22px;
    margin-bottom: -5px;
  }

  .Twitter-logo {
    height: 22px;
    margin-bottom: -5px;
  }

  .Reddit-logo {
    height: 22px;
    margin-bottom: -5px;
  }

  .Roblox-logo {
    height: 22px;
    margin-bottom: -5px;
  }

 .Text {
  font-family: sans-serif; 
   font-weight: 400;
   font-style: normal;
   font-size: 100%;
   color: white; 
   text-align: center;
   margin-top: 100px;
 }

 .Link-color {
  color: #5539CC;
 }

 .ThisFuckery {
  margin-top: -80px;
  text-align: center;
  margin-left: -170px;
 }

 .spacer {
  margin-bottom: -10px;
  aspect-ratio: 960/300;
  width: 101.1%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: -8px;
}

.layer1 {
  background-image: url('layered-waves-haikei.svg');
}

.Founder-icon {
  border-radius: 200px;
  margin-bottom: -10px;
  margin-right: -525px;
  height: 30px;
}

.Founder-font {
  color: white;
  text-align: center;
  margin-top: -112.5px;
  font-size: 12;
  margin-left: 500px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.purple-box {
  color: #16161700;
}

.Founder-name {
  color: white;
  text-align: center;
  margin-top: 0;
  font-size: 5;
  margin-left: -15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}